body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 40px;
    color: rgb(42, 5, 92);
}
h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 40px;
    color: rgb(42, 25, 117);
}
li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: rgb(36, 4, 66);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



li a {
    padding: 0 50px;
}

a {
    color: darkgray;
    text-decoration: none;
    font-size: 25px;
    transition: .5s ease;
}
a:hover {
    font-size: 35px;
}


p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    color: darkgray;
    font-size: 15px;
}

#particles-js {
    height: 100%;
    width: 100%;
    background: url(".jpg");
    background-size: cover;
}